<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
      </customHeaders>
    </httpProtocol>
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/opentype" />

      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />

      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

  </system.webServer>

  <runtime>
  </runtime>

</configuration>
