<div id="gridDiv"></div>

<script>

    Ext.define('CustomerModel', {
        extend: 'Ext.data.Model',
        fields: [
            { name: 'Id',        type: 'int' },
            { name: 'FirstName', type: 'string' },
            { name: 'LastName',  type: 'string' },
            { name: 'Mail',      type: 'string' }
        ]
    });

    var store = Ext.create('Ext.data.Store', {
        model: 'CustomerModel',
        proxy: {
            type: 'ajax',
            url: '/api/Customer',
            reader: {
                type: 'json',
                root: 'Data',
                totalProperty: 'Total'
            }
        },
        autoLoad: true,
        remoteSort: true,
        pageSize: 15
    });

    Ext.onReady(function () {

        Ext.create('Ext.grid.Panel', {
            title: 'Kunden',
            store: store,
            columns: [
                { text: "Id", dataIndex: 'Id', width: 50 },
                { text: "Vorname", dataIndex: 'FirstName' },
                { text: "Nachname", dataIndex: 'LastName' },
                { text: "E-Mail", dataIndex: 'Mail', flex: 1 }
            ],
            width: 600,
            height: 410,
            dockedItems: [{
                xtype: 'pagingtoolbar',
                store: store,
                dock: 'bottom',
                displayInfo: true
            }],
            renderTo: 'gridDiv'
        });
    });

</script>