@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(false)
    .Height(90)
    .Content(
        @<text>
             <div class="header">
                 <img src="~/Content/images/logo.svg" alt="" class="logo" />         
                     
                 <h1>Beispiele</h1>

                 <a href="http://extjs-kochbuch.de">zum Kochbuch</a>
             </div>
        </text>
    )
)