 @{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />  
        <title>EXT JS Kochbuch</title> 
        @Styles.Render("~/Content/styles")
    </head>
    <body class="start">
                     
        <div class="welcomeLogo"></div>
        <h1>Bon appetit!</h1>

    </body>
</html>

