@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(false)
    .Height(90)
    .Content(
        @<text>
            <div class="header">
                    <h1 class="title">Ext JS Kochbuch</h1>
                </div>
        </text>
    )
)