@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(false)
    .Height(90)
    .Content(
        @<text>
            <div class="header">
                <div class="left">
                    <div class="title">
                        Ext JS Kochbuch
                    </div>
                </div>
            </div>
        </text>
    )
)