<!DOCTYPE html>

<html>
<head>
    <title>EXT JS Kochbuch</title> 
    @Html.X().ResourceManager()
</head>
<body>

    @(
    Html.X().Viewport().Layout(LayoutType.Border)
        .ItemsFromPage(this, "~/Views/Home/_North.cshtml")
        .ItemsFromPage(this, "~/Views/Home/_West.cshtml")
        .ItemsFromPage(this, "~/Views/Home/_Center.cshtml")
    )
    
</body>
</html>