/* styles that are specific for this presentation */
/* ReSharper disable UnknownHtmlTag */

.nowrap {
    white-space: nowrap;
}

.pesentation-details {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: gray;
    font-size: 0.8em;
}

.pesentation-details a {
    color: #51483D;
    text-decoration: none;
}

.pesentation-details a:hover {
    color: #8B7C69;
}

.key {
    position: relative;
    bottom: 5px;
    display: inline-block;
    line-height: 30px;
    min-width: 30px;
    color: #000;
    padding: 3px !important;
    text-shadow: none;
    letter-spacing: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: #000000 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    vertical-align: sub !important;
    margin: 0 7px !important;
}

/*
.alert .reveal .state-background {
    background: #c8321e;
    background: rgba( 200, 50, 30, .7 );
}
*/

blockquote {
    margin-top: 40px !important;
    box-shadow: none;
}

ol {
    margin: 40px 0 0 130px !important;
}

small.mini {
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    width: 90%;
}

small.miniR {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    width: 70%;
}

red {
    color: brown;
}

ul.model {
    margin-top: 30px;
}
ul.model li {
    margin-bottom: 30px;
    color: #494D4D
}

ul.model span {
    padding: 5px !important;
    border-radius: 10px;
    background: #fff;
    box-shadow: #000000 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    
    margin: 7px;
    background-color: #3aa9db;
    color: white;
    width: 300px;
}

.reveal .state-background {
    background-image: url('../images/pixel.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 454px 454px;
}

.jasmine .reveal .state-background {
    background-image: url('../images/jasmine_logo_bg.png');
    
    -webkit-transition: background-image 0.8s linear;
    -moz-transition: background-image 0.8s linear;
    -o-transition: background-image 0.8s linear;
    transition: background-image 0.8s linear;
}

code.small {
    font-size: 14px;
    line-height: 16px;
    max-height: 500px;
}

iframe.spec {
    
    height: 300px;
    width: 600px;
    border: 1px solid silver;
    box-shadow: #000000 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}

.showPrint {
    display: none !important;
}

/* TODO  */
.iphone {
    background: url(../images/iphone-screen.gif), url(../images/iphone-hand.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 122px 99px, 0 0;
    width: 704px;
    height: 889px;
    margin-left: 200px !important;
}

/* ReSharper restore UnknownHtmlTag */